body {
  background-color: powderblue;
}
hr {
  border-style: dotted;
  border-color: red;
  border-width: 2px;
}
img {
  height: 250px;
  width: 100%
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
